<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="com.Eventarin.Android" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
	<application android:label="Eventarin" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>